.theme-dark .x-cursor {
    opacity: 1;
    background: #2c95b4;
    width: 3px;
    left: -1px;
    top: 5px;
    height: calc(13px + var(--cursor-height));
    transition: opacity;
    top: calc( -6px - var(--header-height));
}

/* Disable movement effect */
.cursorWrapper .x-cursor::after {
    display: none;
}
