.cm-hmd-indented-code {
	font-size: var(--font-text-size) !important;
	font-family: var(--font-text) !important;
	color: var(--text-normal)!important;
	background-color: transparent !important;
}

.cm-s-obsidian .cm-hmd-indented-code {
	color: unset;
	background-color: unset;
	font-size: unset;
	vertical-align: unset;
	font-family: unset;
}
